.idea/
*.yaml
.vs/
/backend/storage
/tmp

# bootstrap files
/frontend/static/css/bootstrap
/frontend/static/fonts/bootstrap
/frontend/static/images/bootstrap
/frontend/static/js/bootstrap

/frontend/templates/pages/employee.page2.gohtml
