{{define "title"}}Employee Page{{end}}
{{define "content"}}
    <h1>Employee Page</h1>
    <p>Employee Page Content</p>
{{end}}
{{define "footer"}}
    <footer>
        <p>Employee Page Footer</p>
    </footer>
{{end}}

{{template "base" .}}