body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

/* Content area next to the sidebar */
.content-area {
    flex-grow: 1; /* Allows the content area to fill the remaining space */
    overflow-y: hidden; /* Allows scrolling if content is too large */
    overflow-x: auto;
    margin-left: 280px; /* Matches sidebar width */
    margin-top: 65px; /* Adds margin to match the navbar height */
}

.active-section {
    display: block; /* Show active content section */
}
.content-section {
    display: none; /* Hide all content sections by default */
}

